a {
    text-decoration: none;
    color: #40A5E3;
}
a:hover {
    text-decoration: underline;
}
.badge {
    background_color: #F7F025;
    color: white
}
.post-time {
    background-color: #FF4F26;
    color: white;
}